# Project McNulty - PostgreSQL Queries

Paul Lim, Katharina Huang, Thaddeus Norman

05/17/2017

## Libraries

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import re
cnx_mc = create_engine('postgresql://plim0793:metis@54.215.141.213:5432/plim0793')
#port ~ 5432

## Queries

### View first 5 rows of each SQL database (Questions, Answers, Tags, Views, Users)

In [12]:
pd.read_sql_query('''SELECT * FROM Questions LIMIT 5''',cnx_mc)

,id,owneruserid,creationdate,score,title,body
0,28563885,2713740.0,2015-02-17 14:37:49,4,removing entries from a numpy array,<p>I have a multidimensional numpy array with ...
1,28563972,562697.0,2015-02-17 14:41:59,0,What rows are in view of a QAbstractTableModel,<p>I have a custom QTableView with a custom QA...
2,28564095,496837.0,2015-02-17 14:48:15,-1,How to create pdf receipt file in google app e...,<p>I am making an online store using google ap...
3,28564161,189154.0,2015-02-12 18:06:42,0,uWSGI backtrace error,<p>I'm getting the following backtrace in my u...
4,28564171,3571440.0,2015-02-17 14:51:14,0,How to write console output of pg_dump to a fi...,<p>Hi All i am trying to log the console outpu...

In [13]:
pd.read_sql_query('''SELECT * FROM Answers LIMIT 5''', cnx_mc)

,id,owneruserid,creationdate,parentid,score,body
0,161977,12195.0,2008-10-02 12:19:37,160889,1,"<p>Also check out <a href=""http://search.cpan...."
1,162301,6918.0,2008-10-02 13:36:36,160889,1,"<p>From <a href=""http://perldoc.perl.org/perl..."
2,162707,17624.0,2008-10-02 14:46:31,162656,4,"<p>Yes, provide a different API for getting di..."
3,162716,3421.0,2008-10-02 14:47:57,161755,0,"<p><a href=""http://www.python.org/doc/2.6/libr..."
4,162854,17624.0,2008-10-02 15:06:26,162798,5,"<p>Not conveniently, without further breaking ..."

In [14]:
pd.read_sql_query('''SELECT * FROM Tags LIMIT 5''', cnx_mc)

    id        tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python

In [15]:
pd.read_sql_query('''SELECT * FROM Views LIMIT 5''', cnx_mc)

,links,questions,views,questionid
0,http://stackoverflow.com/questions/40401148/ho...,How can I take logic into a C# program dynamic...,46,40401148
1,http://stackoverflow.com/questions/40399515/us...,Using os.path.expanduser When Username Has a S...,34,40399515
2,http://stackoverflow.com/questions/40401096/py...,Python: How to create a loop that depending on...,43,40401096
3,http://stackoverflow.com/questions/40401086/py...,Python sockets programming: sending data,25,40401086
4,http://stackoverflow.com/questions/40401035/us...,Using python how can i convert json to array l...,79,40401035

In [16]:
pd.read_sql_query('''SELECT * FROM Users LIMIT 5''', cnx_mc)

   bronze  gold       id      rep  silver
0    49.0   0.0   638546  16300.0    35.0
1     9.0   0.0  1336078    422.0     4.0
2    64.0   6.0   275088   2914.0    34.0
3     3.0   0.0  1102257      1.0     0.0
4    57.0   0.0  2379433  10400.0    38.0

### Simple Joins

In [114]:
tags_clean['tag'].unique()

array(['python', 'django', 'list', 'tkinter', 'string', 'regex',
       'dictionary', 'numpy', 'matplotlib', 'pandas'], dtype=object)

In [51]:
len(tags[tags['tag'] == 'python'])

607283

In [52]:
len(tags)

1885078

In [ ]:
df_users['id'] = df_users['id'].str.strip(r'<a href="/users/ ')

In [ ]:
df_users['id'] = df_users['id'].map(lambda x: re.sub(r"/.*", '', x))

In [ ]:
count = 0
weird = []
index_list = []
for i in range(len(df_users)):
    try:
        int(df_users.loc[i,'id'])
    except:
        count += 1
        weird.append(df_users.loc[i,'id'])
        index_list.append(i)

In [ ]:
df_users_2 = df_users.drop(df_users.index[[index_list]], axis=0, inplace=False)

In [ ]:
df_users_2['id'] = df_users_2['id'].map(lambda x: int(x))

In [ ]:
df_users_2['rep'] = df_users_2['rep'].map(lambda x: re.sub(',','',x))

In [ ]:
df_users_2['rep'] = df_users_2['rep'].map(lambda x: float(x))

In [ ]:
df_users_2.to_csv('users_final_all.csv',index=False)

In [ ]:
df_users_2.info()

In [ ]:
print(list(zip(index_list, weird)))

In [ ]:
df_users.iloc[2347,:]

In [ ]:
df_users['id'] = df_users['id'].str.split('/')

In [ ]:
df_users['id'] = [x[0] for x in df_users['id']]

In [ ]:
df_users['id'].unique()

In [ ]:
df_users['id'] = df_users['id'].map(lambda x: int(x))