# Project McNulty - Classifying Stackoverflow Data

Paul Lim

05/17/2017

## Libraries and Default Settings

In [5]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, learning_curve, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import label_binarize
import re


% matplotlib inline

sns.set_style("white")
sns.set_style('ticks')
sns.set_style({'xtick.direction': u'in', 'ytick.direction': u'in'})
sns.set_style({'legend.frameon': True})

cnx_mc = create_engine('postgresql://plim0793:metis@54.215.141.213:5432/plim0793')

## Functions

In [3]:
def get_scores(model_list, X_train, X_test, y_train, y_test, binary=True):
    list_dict = {}
    list_dict['scores'] = []
    list_dict['models'] = []
    list_dict['precision'] = []
    list_dict['recall'] = []
    list_dict['f1'] = []
    
    for model in model_list:
        model = model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        if binary:
            pre = precision_score(y_test, y_pred)
            rec = recall_score(y_test, y_pred)
            f1 = f1_score(y_test, y_pred)
        else:
            pre = precision_score(y_test, y_pred, average='macro')
            rec = recall_score(y_test, y_pred, average='macro')
            f1 = f1_score(y_test, y_pred, average='macro')            
     
        list_dict['scores'].append(acc)
        list_dict['models'].append(model)
        list_dict['precision'].append(pre)
        list_dict['recall'].append(rec)
        list_dict['f1'].append(f1)
        
        print('Model: ', model)
        print('Score: ', acc)
        print('Precision: ', pre)
        print('Recall: ', rec)
        print('F1: ', f1)
        print('\n')
        
    return list_dict

def get_cross_val_score(model_list, X, y):
    list_dict = {}
    list_dict['mean_acc'] = []
    list_dict['mean_pre'] = []
    list_dict['mean_rec'] = []
    list_dict['mean_f1'] = []
    
    for model in model_list:
        acc = cross_val_score(model, X, y, scoring='accuracy')
        mean_acc = np.mean(acc)
        
        pre = cross_val_score(model, X, y, scoring='precision')
        mean_pre = np.mean(pre)
        
        rec = cross_val_score(model, X, y, scoring='recall')
        mean_rec = np.mean(rec)
        
        f1 = cross_val_score(model, X, y, scoring='f1')
        mean_f1 = np.mean(f1)
        
        list_dict['mean_acc'].append(mean_acc)
        list_dict['mean_pre'].append(mean_pre)
        list_dict['mean_rec'].append(mean_rec)
        list_dict['mean_f1'].append(mean_f1)
        print('Model: ', model)
        print('Accuracy: ', mean_acc)
        print('Precision: ', mean_pre)
        print('Recall: ', mean_rec)
        print('F1: ', mean_f1)
        print('\n')
        
    return list_dict

## Join the questions and answers tables

In [6]:
# Load tables from SQL.
questions = pd.read_sql_query('''SELECT * FROM Questions''', cnx_mc)
answers = pd.read_sql_query('''SELECT * FROM Answers''', cnx_mc)
tags = pd.read_sql_query('''SELECT * FROM Tags''', cnx_mc)
views = pd.read_sql_query('''SELECT * FROM Views''', cnx_mc)
users = pd.read_sql_query('''SELECT * FROM Users''', cnx_mc)

In [9]:
# Merge questions and answers dataframes
df_merged_qa = pd.merge(questions, answers, left_on='id', right_on='parentid')

**Clean the dataframe and rename the columns**

In [11]:
# Drop the duplicate column.
df_merged_qa= df_merged_qa.drop('id_x', axis=1)

In [12]:
# Change the column names.
df_merged_qa.columns = ['q_user_id','q_date','q_score','q_title','q_body','a_id','a_user_id',
                        'a_date','q_id','a_score','a_body']

In [13]:
# Reorder the columns
df_merged_qa = df_merged_qa[['q_id','a_id','q_user_id','a_user_id','q_title',
                             'q_body','a_body','q_date','a_date','q_score','a_score']]

In [14]:
df_merged_qa.head()

,q_id,a_id,q_user_id,a_user_id,q_title,q_body,a_body,q_date,a_date,q_score,a_score
0,28563885,28564249,2713740.0,190597.0,removing entries from a numpy array,<p>I have a multidimensional numpy array with ...,<p>You could select the x and y coordinates fr...,2015-02-17 14:37:49,2015-02-17 14:55:00,4,3
1,28563885,28564791,2713740.0,2065097.0,removing entries from a numpy array,<p>I have a multidimensional numpy array with ...,<p>I'm not sure if I'm reading the question ri...,2015-02-17 14:37:49,2015-02-17 15:20:46,4,0
2,28563972,28586351,562697.0,562697.0,What rows are in view of a QAbstractTableModel,<p>I have a custom QTableView with a custom QA...,<p>The following will update only the rows vis...,2015-02-17 14:41:59,2015-02-18 14:44:13,0,0
3,28564095,28567124,496837.0,272372.0,How to create pdf receipt file in google app e...,<p>I am making an online store using google ap...,"<p>Reportlab is fine, what seems to be your pr...",2015-02-17 14:48:15,2015-02-17 17:14:06,-1,1
4,28564095,28574956,496837.0,1279005.0,How to create pdf receipt file in google app e...,<p>I am making an online store using google ap...,<p>We use pisa from xhtml2pdf package.</p>\n\n...,2015-02-17 14:48:15,2015-02-18 02:27:34,-1,2

### Clean the tags table

In [15]:
# Change all tags to lowercase and remove whitespace
tags['tag'] = tags['tag'].apply(lambda x: x.strip(' ').lower())

In [16]:
# Change all tags to lowercase and remove whitespace
tags['tag'] = tags['tag'].apply(lambda x: x.strip(' ').lower())

In [17]:
top_10 = tags['tag'].value_counts()[0:10]

In [18]:
top_10 = list(top_10.index)
top_10

['python',
 'django',
 'python-2.7',
 'pandas',
 'python-3.x',
 'numpy',
 'list',
 'matplotlib',
 'regex',
 'dictionary']

In [19]:
# Make dummy variables for just the top 10 tags.
tags_clean = tags[tags.tag.isin(top_10)]

tags_clean = pd.get_dummies(tags_clean, columns=['tag'])

In [20]:
tags_clean.head()

,id,tag_dictionary,tag_django,tag_list,tag_matplotlib,tag_numpy,tag_pandas,tag_python,tag_python-2.7,tag_python-3.x,tag_regex
0,469,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,502,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8,535,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11,594,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16,683,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0