# Project McNulty - Cleaning Prior to PostgreSQL 

Paul Lim, Katharina Huang, Thaddeus Norman

05/17/2017

## List of Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

% matplotlib inline

## Exploratory Data Analysis

### Loading data

**Look at Questions dataset**

In [2]:
df_questions = pd.read_csv('Questions.csv', encoding='latin-1')

In [3]:
# Quick view of what's inside the dataset
# print(df_questions.info())
# print(df_questions.describe())
df_questions.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [4]:
# Drop null values in the OwnerUserId column
df_questions2 = df_questions.dropna()

In [5]:
# Convert CreationDate column to datetime
df_questions2['CreationDate'] = pd.to_datetime(df_questions2['CreationDate'])

/Users/plim0793/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [7]:
df_questions2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 601070 entries, 0 to 607281
Data columns (total 6 columns):
Id              601070 non-null int64
OwnerUserId     601070 non-null float64
CreationDate    601070 non-null datetime64[ns]
Score           601070 non-null int64
Title           601070 non-null object
Body            601070 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 32.1+ MB

In [8]:
df_questions2.to_csv('Questions.csv')

**Look at the Answers dataset**

In [9]:
df_answers = pd.read_csv('Answers.csv', encoding='latin-1')

In [10]:
# Quick view of what's inside the dataset
print(df_answers.info())
# print(df_answers.describe())
df_answers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987122 entries, 0 to 987121
Data columns (total 6 columns):
Id              987122 non-null int64
OwnerUserId     981755 non-null float64
CreationDate    987122 non-null object
ParentId        987122 non-null int64
Score           987122 non-null int64
Body            987122 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 45.2+ MB
None

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [11]:
# Drop null values in the OwnerUserId column
df_answers2 = df_answers.dropna()

In [12]:
# Convert CreationDate column to datetime
df_answers2['CreationDate'] = pd.to_datetime(df_answers2['CreationDate'])

/Users/plim0793/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [13]:
df_answers2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981755 entries, 0 to 987121
Data columns (total 6 columns):
Id              981755 non-null int64
OwnerUserId     981755 non-null float64
CreationDate    981755 non-null datetime64[ns]
ParentId        981755 non-null int64
Score           981755 non-null int64
Body            981755 non-null object
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 52.4+ MB

In [14]:
df_answers2.to_csv('Answers.csv')

Look at the Tags dataset

In [15]:
df_tags = pd.read_csv('Tags.csv')

In [16]:
# Quick view of what's inside the dataset
print(df_tags.info())
# print(df_tags.describe())
df_tags.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885078 entries, 0 to 1885077
Data columns (total 2 columns):
Id     int64
Tag    object
dtypes: int64(1), object(1)
memory usage: 28.8+ MB
None

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python